

body{
background: rgb(238,174,202);
background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 96%);
font-family: "Sonsie One", system-ui;
font-weight: 400;
font-style: normal;
}

.titel{
  color: #FFE337;
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;

}